.app {
    overflow: hidden
}
.active-li {
    background: rgb(255, 253, 253) !important;
    color : black !important;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #FE6433, #F53E2D);
}

.header__navbar {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.header__navbar--item {
    display: inline-block;
    position: relative;
}

.header__navbar--item {
    margin: 0 8px;
    min-height: 26px;
}

.header__navbar--item,
.header__navbar--item--link {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.header__navbar--item,
.header__navbar--item--link,
.header__navbar--icon--link {
    display: inline-flex;
    align-items: center;

}

.header__navbar--item:hover,
.header__navbar--item--link:hover,
.header__navbar--icon--link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar--item--bold {
    font-weight: 400;
}

.header__navbar--item--separate::after {
    position: absolute;
    content: " ";
    display: block;
    border-left: 1.5px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar--list {
    display: flex;
    justify-content: center;
}
/* Header User */

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 8px;
}

.header__navbar-user-menu {
    width: 160px;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    z-index: 2;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

/* .header__navbar-user-item {

} */

.header__navbar-user-item:hover {
    background-color: #fafafa;
}

.header__navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-menu::before {
    content: " ";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -28px;
}

.header__navbar-user-menu::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: -8px;
    width: 150px;
    height: 8px;
}

.header__navbar-user-item a {
    color: var(--text-color);
    font-size: 1.4rem;
    display: inline-block;
    padding: 12px 16px;
}

.header__navbar--icon--link {
    color: var(--white-color);
}

.header__navbar--icon {
    font-style: 1.6rem;
    margin: 0 4px;
}

.header__navbar--no--pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__navbar--item--qr:hover .header__qr{
    display: block;
}

.header__qr {
    display: none;
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 115%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.3s;
    animation: fadeOut ease-out 0.3s;
    -o-animation: fadeIn ease-in 0.3s;
    -o-animation: fadeOut ease-out 0.3s;
    -ms-animation: fadeIn ease-in 0.3s;
    -ms-animation: fadeOut ease-out 0.3s;
    -moz-animation: fadeIn ease-in 0.3s;
    -moz-animation: fadeOut ease-out 0.3s;
    will-change: opacity;
    z-index: 1;
}

.header__qr::before {
    content: " ";
    top: -15px;
    left: 0;
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
}

.header__qr--img {
    width: 100%;
}

.header__qr--apps {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__qr--link:nth-child(1) {
    margin-left: 11px;
}

.header__qr--link:nth-child(2) {
    margin-right: 11px;
}

.header__qr--download--img {
    height: 15px;
}

/* Header Notification */

.header__navbar--has--notify:hover .header__notify {
    display: block;
}

.header__notify {
    display: none;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-animation: headerNotifyGrowth ease-in 0.25s;
    -moz-animation: headerNotifyGrowth ease-in 0.25s;
    -o-animation: headerNotifyGrowth ease-in 0.25s;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: " ";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -28px;
}

.header__notify::after {
    content: " ";
    top: -15px;
    right: 0;
    width: 90px;
    height: 20px;
    display: block;
    position: absolute;
}

.header__notify--header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify--header h3 {
    color: #999;
    margin: 0 0 0 12px; 
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify--item {
    display: flex;
}

.header__notify--item:hover {
    background-color: #f7f7f7;
}

.header__notify--link--viewed {
    background-color: rgba(238, 77, 45, 0.07);
}

.header__notify--link {
    display: flex;
    padding: 12px;
}

.header__notify--img {
    width: 48px;
    object-fit: contain;
}

.header__notify--info {
    margin-left: 12px;
}

.header__notify--name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify--description {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify--footer--btn {
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    text-align: center;
}

/* Auth Form */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 32px 32px 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__swith--btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 48px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.auth-form__input + .auth-form__input {
    margin-top: 16px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy--text {
    padding: 0 12px;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: center; 
}

.auth-form__text--link {
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #eeeeee;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials--icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98 !important;
}

.auth-form__socials--facebook .auth-form__socials--icon {
    color: var(--white-color);
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials--title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
}

.auth-form__help--link {
    color: var(--text-color);
}

.auth-form__help--separate {
    display: block;
    height: 16px;
    margin: 0 16px;
    border-left: 2px solid #eaeaea;
}

.auth-form__help--forgot {
    color: var(--primary-color);
}

/* Header With Search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-icon {
    padding: 10px 0;
    font-size: 2rem;
    color: var(--white-color);
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
}


.header__search-select {
    position: relative;
    border-left: 2px solid #D3D3D3;
    font-size: 1.4rem;
    padding-left: 16px;
}

.header__search-select-label {
    /* line-height: 40px; */
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    margin: 0 16px 0 8px;
    font-size: 1.4rem;
    color: #888888;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 4px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    padding: 0 24px;
    font-size: 1.4rem;
}

.header__search-select:hover .header__search-option{
    display: block;
}


.header__search-option {
    width: 130px;
    position: absolute;
    right: 0;
    top: calc(100% + 14px);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 16px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

/* Search History */

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    left: 0;
    position: absolute;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-item {
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    /* padding: 10px 12px; */
}


.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item a {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-history-item a:hover,
.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;

}

/* Cart */

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 9px;
    top: 3px;
    right: 2px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 2px);
    right: -10px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
   
    animation: fadeIn ease-in 0.3s;
}

.header__cart--has-produce,
.header__cart-notice {
    /* display: none; */
}

.header__cart-list--no--cart {
    padding: 28px 0;
    text-align: center;
}

.header__cart-no-cart-img {
    width: 100%;
  
  
}

.header__cart-list-no-cart-msg {
   
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.show-card {
   
    height : 200px !important;
    overflow: auto !important;
}
.header__cart-list::after {
    
    content: "";
    position: absolute;
    right: 16px;
    top: -25px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list--no--cart .header__cart-no-cart-img,
.header__cart-list--no--cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
   
}

.header__cart-heading {
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-item {
    display: flex;
}

.header__cart-img {
    width: 45px;
    height: 45px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    margin-top: 12px;
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 2px;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
}

.header__cart-item-multiply,
.header__cart-item-qnt {
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 12px;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-checkout {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-checkout:hover {
    background-color: #f05d41;
}

/* Header Sort Bar */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    position: relative;
}


.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-right: 2px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-icon {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-left: 5px;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* App Container */

.app__content {
    padding-top: 32px;
}

.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0 , 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    padding: 8px 0;
    margin-left: 14px;
}

.category-item__active .category-item__link{
    color: var(--primary-color);
}

.category-item__active .category-item__link::after {
    content: " ";
    top: 50%;
    left: 2px;
    position: absolute;
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 0px));
}

.category-item__link {
    position: relative;
    right: 0;
    display: block;
    padding: 4px 16px;
    font-size: 1.4rem;
    color: var(--text-color);    
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
    cursor: pointer;
}

/* Mobile Category */

.mobile-category {
    display: none;
}

.mobile-category-list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link{
    background-color: #87AFD8;
}

.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link{
    background-color: #76C9BD;
}

.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link{
    background-color: #88CF81;
}

.mobile-category-link {
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.home-filter {
    position: relative;
    background-color: rgba(0, 0, 0 , 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-title__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px !important;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num,
.home-filter__current {
    font-size: 1.4rem;
}

.home-filter__current {
    color: var(--primary-color);
}

.home-filter__page-num {
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 68px;
    height: 34px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    cursor: pointer;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color : #555;
}

.home-filter__page-btn-disabled {
    background-color: #f9f9f9;
    cursor:default;
}

.home-filter__page-btn-disabled .home-filter__page-icon {
    color: #ccc;
}

/* Produce Item */
.home-produce {
    margin-bottom: 10px;
}

.home-produce-item {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    border-radius: 2px;
}

.home-produce-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}

.home-produce-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: contain;
    border: 1px solid var(--white-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-produce-item__name {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.6rem;
    margin: 10px;
    height: 3.2rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.home-produce-item__price {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
}

.home-produce-item__price-old {
    margin-left: 10px;
    font-size: 1.3rem;
    text-decoration: line-through;
    color: #666;
}

.home-produce-item__price-current {
    color: var(--primary-color);
    margin-left: 10px;
}

.home-produce-item__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-produce-item__heart {
    font-size: 1.3rem;
}

.home-produce-item__heart-icon-fill {
    color: #F63D30;
    display: none;
}

.home-produce-item__heart--liked .home-produce-item__heart-icon-fill {
    display: inline-block;
}

.home-produce-item__heart--liked .home-produce-item__heart-icon-emty {
    display: none;
}

.home-produce-item__rating {
    font-size: 0.9rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-produce-item__star--gold {
    color: var(--star-gold-color);
}

.home-produce-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-produce-item-origin {
    display: flex;
    justify-content: space-between;
    margin: 7px 10px 0;
    font-weight: 300;
    color: #595959;
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.home-produce-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 16px;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-produce-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-produce-item__favourite span {
    color: var(--white-color);
}

.home-produce-item__favourite::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(50%);
}

.home-produce-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    margin: 1px 1px 0 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-produce-item__sale-off::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-produce-item__sale-off--percent {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: #EE4D2D;
    position: relative;
    top: 2px;
}

.home-produce-item__sale-off--label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
}

.home-produce__pagination {
    margin-top: 38px;
    margin-bottom: 36px;
}

.footer {
    padding-top: 32px;
    border-top: 4px solid var(--primary-color);
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
}

.footer__heading {
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer__list_item--link {
    font-size: 1.2rem;
    color: #737373;
    display: block;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer__list_item--link:hover {
    color: var(--primary-color);
}

.footer__list_item-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    margin-right: 8px;
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__down-apps--img {
    height: 20px;
    margin-bottom: 8px;
}


.footer__bottom {
    margin-top: 32px;
    background-color: #f5f5f5;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.footer__copyright-link {
    color: var(--text-color);
}

.footer__copyright-link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}